text1{
  text-align: center;

}
text-section1{


}
<<<<<<< HEAD
.mapouter{
  position:relative;
  text-align:right;
  height:535px;
  width:1080px;
  }
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:535px;
  width:1080px;
}
=======
html,body{
  overflow-x: hidden;
}
>>>>>>> 93e9b0c87fd29b4041f2dd8c70988f788586e623
