text1{
  text-align: center;

}
text-section1{


}
.mapouter{
  position:relative;
  text-align:right;
  height:535px;
  width:1080px;
  }
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:535px;
  width:1080px;
}
